<%if session[:email] == @user.email%>
  <h2>Hey <%=@user.name%>, Welcome back!</h2>
  <br>
  <h3>Your Profile:</h3>
  <h3>Name: <%=@user.name%></h3>
  <h3>Bio: <%=@user.bio%></h3>
  <br>
  <h4><a href="./edit">Edit Profile</a> / <a href="/guides/<%=@user.id%>/new">Create a New Guide</a> </h4>
  <br>
  <br>
  <br>
  <h3>Your Guides:</h3>
  <%if @user.guides.count == 0%>
  <h6>Click "Create a New Guide" to start!"</h6>
  <%else%>
  <%@user.guides.each do |guide|%>
  
  <h4> <a href="/guides/<%=guide.id%>"><%=guide.city%>: <%=guide.name%></a> </h4>
  
  <a href="/guides/<%=guide.id%>/edit">Edit Guide</a>
  <form action="/guides/<%=guide.id%>/delete" method="POST">
    <input type="submit" value="Delete Guide">
  </form>
  <br>
  <%end%>
  <%end%>
<%else%>
  <h2><%=@user.name%>'s Profile</h2>
  <br>
  <br>
  <h5>Name: <%=@user.name%></h5>
  <h5>Bio: <%=@user.bio%></h5>
  <br>
  <br>
  <%if user.guides.count == 0%>
  <h6>Looks like <%=@user.name%> hasn't made any guides yet!</h6>
  <%else%>
  <%@user.guides.each do |guide|%>
  <a href="/guides/view/<%=@guide.id%>"><%=guide.city%>: <%=guide.name%></a>
  <%end%>
  <%end%>
<%end%>

<form action="/guides/<%=@user.id%>/delete" method="POST">
    <input type="submit" value="Delete Guide">
  <br>
  <br>
  <br>
  <br>
  <p>***********************************</p>
  <a href="/cities">Explore Cities</a>
  <a href="/locations">Explore Locations</a>
  <a href="/users">Explore Users</a>