<h2>Browse Guides (by City)</h2>
<br>
<%@cities.each do |city|%>
<h6><%=city.name%></h6>
<%@guides.each do |guide|%>
<%if guide.city == city %>
<a href="/guide/<%=guide.id%>"><%=guide.user%>'s <%=guide.name%></a>
<br>
<%end%>
<%end%>



<%#<h3>Browse MyTown Guides by City:</h3>

<%@cities.each do |city|%>
  <%#<p><%=city.name%>
  <%#<%@guides.each do |guide|%>
   <%# <%if guide.city_id == city_id%>
    <%#  <p><%=guide.name%>
   <%# <%end%>
 <%# <%end%>
<%#<%end%>


<%#City.all each do |item|
<a href = "/cities/<%=city.name%>" <%# >item.name</a>item.name