<h2>Edit Your Guide</h2>
<label>Current Guide Name:</label>
 <p><%=@guide.name%></p>
 <label>Current Guide City:</label>
 <p><%=@city.name%></p>
 
  <form action="/guides/<%=@guide.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit Guide Name:</label>
    <br>
    <input type="text" name="guide[name]" id="guide_name" value="<%=@guide.name %>">
    <br>
    <label>Edit City:</label>
    <br>
    <input type="text" name="user[bio]" id="bio" value="<%=@city.name%>">
    <br>
    <br>
    <label>...or Choose an Existing City:</label>
    <br>
    
    <%@cities.each do |item| %>
      <input type="checkbox" name="guide[city_ids][]" id="city_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input><br>
    <%end%>
      
    <%@locations.each do |item|%>
      <p><%=item.name%></p>
      <input type="text" name="location[names]" id="location_name" value="<%=@location.name %>">
      <p><%=item.address%></p>
      <input type="text" name="location[address]" id="location_name" value="<%=@location.address %>">
      <p><%=item.description%></p>
      <input type="text" name="location[description]" id="location_name" value="<%=@location.description %>">
      <p><%=item.location_type_id%></p>
      <input type="text" name="location[location_type_id]" id="location_name" value="<%=@location.location_type_id%>">
    <%end%>
      
    <input type="submit" value="Edit Guide">
  </form>
  
<a href="/users/<%=@user.id%>/">Back to Profile</a>
<a href="/guides">Explore All Guides</a>