<h2>Edit Your Guide</h2>
<label>Current Guide Name:</label>
 <p><%=@guide.name%></p>
 <label>Current Guide City:</label>
 <p><%=@city.name%></p>
 
  <form action="/guides/<%=@guide.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit Guide Name:</label>
    <br>
    <input type="text" name="guide[name]" id="guide_name" value="<%=@guide.name %>">
    <br>
    <label>Edit City:</label>
    <br>
    <input type="text" name="user[bio]" id="bio" value="<%=@city.name%>">
    <br>
    <br>
    <label>...or Choose an Existing City:</label>
    
    <%@cities.all.each do |item| %>
      <input type="checkbox" name="guide[city_id][]" id="city_<%=item.id%>" value="<%=item.name%>"> <%='checked' if @guide.city_id == item.id%></input><br>
      <%end%>
      
      <%@locations.each do |item|%>
      <p><%=item.name%></p>
      <input type="text" name="location[name]" id="location_name" value="<%=@location.name%>">
      <br>
      <p><%=item.address%></p>
      <input type="text" name="location[address]" id="location_address" value="<%=@location.address%>">
      <br>
      <p><%=item.description%></p>
      <input type="text" name="location[description]" id="location_description" value="<%=@location.description%>">
      <br>
      <p><%=Location.find(location_type_id).name%></p>
      <input type="text" name="location[type]" id="location_type" value="<%=@location.location_type_id%>">
      <h3>Existing Location Types</h3>
      <% @location_types.each do |item| %>
        <input type="checkbox" name="location[location_type_ids][]" id="type_<%=item.id%>" value="<%=item.id%>"><%='checked' if @location.location_type_id.include?(item)%></input><br>
      <%end%>
    <%end%>
      
    <input type="submit" value="Edit Guide">
  </form>
  
<a href="/users/view/<%=@user.id%>">Back to Profile</a>
<a href="/guides">Explore All Guides</a>