<h2>Edit Your Guide</h2>
 <p><%=@guide.name%></p>
 <p><%=@city.name%></p>
 
  <form action="/guides/<%=@guide.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit Guide Name:</label>
    <br>
    <input type="text" name="guide[name]" id="guide_name" value="<%= @guide.name %>">
    <br>
    <label>Edit City or Choose an Existing City:</label>
    <input type="text" name="user[bio]" id="bio" value="<%=@guide.city_id%>">
    
    <input type="submit" value="Edit Profile">
  </form>
  
<a href="/users/view/<%=@user.id%>">Back to Profile</a>
<a href="/guides">Explore All Guides</a>