<h2>Edit Your Guide</h2>
<label>Current Guide Name:</label>
 <p><%=@guide.name%></p>
 <label>Current Guide City:</label>
 <p><%=@city.name%></p>
 
  <form action="/guides/<%=@guide.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit Guide Name:</label>
    <br>
    <input type="text" name="guide[name]" id="guide_name" value="<%=@guide.name %>">
    <br>
    <label>Edit City:</label>
    <br>
    <input type="text" name="guide[city]" id="guide_city" value="<%=@city.name%>">
    <br>
    <br>
    <label>...or Choose an Existing City:</label>
    <br>
    
    <%@cities.each do |item| %>
      <input type="checkbox" name="guide[city_ids][]" id="city_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input><br>
    <%end%>
      
      <h4>Guide Locations:</h4>
    <%@locations.each do |item|%>
      <p><%=item.name%></p>
      <p><%=item.address%></p>
      <p><%=item.description%></p>
      <%@location_types.each do |type|%>
      <%if type.id == item.location_type_id%>
      <p><%=type.name%></p>
      <%end%>
      <%end%>
      <a href="/locations/<%=item.id%>/edit">Edit this location</a>
      <br>
      <br>
      <br>
    <%end%>
      
    <input type="submit" value="Edit Guide">
  </form>
  
  <form action="/guides/<%=@guide.id%>/delete" method="POST">
    <input type="submit" value="Delete Guide">
  </form>
    
  
<a href="/users/<%=@user.id%>/">Back to Profile</a>
<a href="/guides">Explore All Guides</a>