<h3>Hey, <%=@user.name%>!</h3>

<h2>Create a New Guide</h2>

<h5>First, enter a name for your guide...</h5>

<form action="/users/<%=@user.id%>" method="POST">
  <input type="text" name= "guide[name]" id="new_guide_name" placeholder="Guide Name:">

<h5>Second, enter or select your city...</h5>

 <p>New City:</p>
 
<form action="/users/<%=@user.id%>" method="POST">
  <input type="text" name= "city[name]" id="new_city_name" placeholder="Name:">
  
  <p>Existing Cities:</p>
  <% @cities.each do |city| %>
  <input type="checkbox" name="city[city_ids][]" id="city_<%=city.id%>" value="<%=city.id%>"><%=city.name%></input><br>
  <% end %>
  <br>
  
  <h5>Now start adding locations and descriptions! (minimum three)</h5>
  
  <h7>Location #1</h7>
  
  <p>New Location Name</p>
  <label>Name: </label>
  <br>
  <input type="text" name="location_1[name]" id="new_location_name"></input>
  
  <h3>Existing Location Names</h3>
  <% @locations.each do |item| %>
    <input type="checkbox" name="location_1[location_name_ids][]" id="location_name_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <p>New Location Address/Zipcode</p>
  <label>Address/Zipcode</label>
  <br>
  <input type="text" name="location_1[address]" id="new_location_address"></input>
   
  <h3>Existing Location Addresses/Zipcodes</h3>
  <% @locations.each do |item| %>
    <input type="checkbox" name="location_1[location_address_ids][]" id="location_address_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <p>New Location Description:</p>
  <label>Description:</label>
  <br>
  <input type="text" name="location_1[description]" id="new_location_description"></input>
  
  <h7>Location #2</h7>
  
  <p>New Location Name</p>
  <label>Name: </label>
  <br>
  <input type="text" name="location_2[name]" id="new_location_name"></input>
  
  <h3>Existing Location Names</h3>
  <% @locations.each do |item| %>
    <input type="checkbox" name="location_2[location_name_ids][]" id="location_name_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <p>New Location Address/Zipcode</p>
  <label>Address/Zipcode</label>
  <br>
  <input type="text" name="location_2[address]" id="new_location_address"></input>
   
  <h3>Existing Location Addresses/Zipcodes</h3>
  <% @locations.each do |item| %>
    <input type="checkbox" name="location_2[location_address_ids][]" id="location_address_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <p>New Location Description:</p>
  <label>Description:</label>
  <br>
  <input type="text" name="location_2[description]" id="new_location_description"></input>
  
  
  <h7>Location #3</h7>
  
  <p>New Location Name</p>
  <label>Name: </label>
  <br>
  <input type="text" name="location_3[name]" id="new_location_name"></input>
  
  <h3>Existing Location Names</h3>
  <% @locations.each do |item| %>
    <input type="checkbox" name="location_3[location_name_ids][]" id="location_name_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <p>New Location Address/Zipcode</p>
  <label>Address/Zipcode</label>
  <br>
  <input type="text" name="location_3[address]" id="new_location_address"></input>
   
  <h3>Existing Location Addresses/Zipcodes</h3>
  <% @locations.each do |item| %>
    <input type="checkbox" name="location_3[location_address_ids][]" id="location_address_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <p>New Location Description:</p>
  <label>Description:</label>
  <br>
  <input type="text" name="location_3[description]" id="new_location_description"></input>
  
  <input type="submit" value="Create New Guide">
  
</form>