<h2>Hey, <%=@user.name%>!</h2>

<h1>Create a New Guide</h1>

<h3>First, enter a name for your guide...</h3>

<form action="/guides/<%=@user.id%>" method="POST">
  <input type="text" name= "guide[name]" id="new_guide_name" placeholder="Guide Name:">

<h3>Second, enter or select your city...</h3>
 
<form action="/users/<%=@user.id%>" method="POST">
  <input type="text" name= "city[name]" id="new_city_name" placeholder="New City:">
  
  <p>[Existing Cities:]</p>
  <% @cities.each do |city| %>
  <input type="checkbox" name="city[city_ids][]" id="city_<%=city.id%>" value="<%=city.id%>"><%=city.name%></input><br>
  <% end %>
  <br>
  <h3>Now start adding locations and descriptions! (minimum three)</h3>
  
  <h4>Location #1</h4>
  
  <input type="text" name="location_1[name]" id="new_location_name_1" placeholder="Location Name:"></input>
  
  <p>[Existing Location Names]</p>
  <% @locations.each do |item| %>
    <input type="checkbox" name="location_1[location_name_ids][]" id="location_name_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <input type="text" name="location_1[address]" id="new_location_address_1" placeholder="Address/Zipcode"></input>
  <label>Ignore this field if you selected a preexisting location (we'll take care of the address for you!)</label>
  <br>
  
  <br>
  <input type="text" name="location_1[description]" id="new_location_description_1" placeholder="Location Description"></input>
  <br>
  <br>

  <input type="text" name="location_1[type]" id="new_location_type_1" placeholder="Location Type:"></input>
   
  <p>[Existing Location Types]</p>
  <% @location_types.each do |item| %>
    <input type="checkbox" name="location_1[location_type_ids][]" id="location_type_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <p>-----------------------------------------------------------------------------------------</p>
  
  <h4>Location #2</h4>

  <input type="text" name="location_2[name]" id="new_location_name_2" placeholder="Location Name:"></input>
  
  <p>[Existing Location Names]</p>
  <% @locations.each do |item| %>
    <input type="checkbox" name="location_2[location_name_ids][]" id="location_name_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <br>
  <input type="text" name="location_2[address]" id="new_location_address_2" placeholder="Address/Zipcode"></input>
  <label>Ignore this field if you selected a preexisting location (we'll take care of the address for you!)</label>
  
  <br>
  <input type="text" name="location_2[description]" id="new_location_description_2" placeholder="Location Description:"></input>
  <br>
  <br>
  <input type="text" name="location_2[type]" id="new_location_type_2" placeholder="Location Type"></input>
   
  <p>[Existing Location Types]</p>
  <% @location_types.each do |item| %>
    <input type="checkbox" name="location_2[location_type_ids][]" id="location_type_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <p>-----------------------------------------------------------------------------------------</p>
  
  <h4>Location #3</h4>
  
  <br>
  <input type="text" name="location_3[name]" id="new_location_name_3" placeholder="Location Name:"></input>
  
  <p>[Existing Location Names]</p>
  <% @locations.each do |item| %>
    <input type="checkbox" name="location_3[location_name_ids][]" id="location_name_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
  <% end %>
  <br>
  <input type="text" name="location_3[address]" id="new_location_address_3" placeholder="Location/Address:"></input>
  <label>Ignore this field if you selected a preexisting location (we'll take care of the address for you!)</label>
  
  <br>
  <input type="text" name="location_3[description]" id="new_location_description_3" placeholder="Location Description:"></input>
  <br>
  <br>
  <input type="text" name="location_3[type]" id="new_location_type_3" placeholder="Location Type"></input>
   
  <p>[Existing Location Types]</p>
  <% @location_types.each do |item| %>
    <input type="checkbox" name="location_3[location_type_ids][]" id="location_type_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <input type="submit" value="Create New Guide">
  
</form>