<h3><%=@user.name%></h3>
<h2>Create a New Guide!</h2>

<h5>First, enter or select your city...</h5>

 <p>New City:</p>
 
<form action="/users/<%=@user.id%>" method="POST">
  <input type="text" name= "city[name]" id="new_city_name" placeholder="Name:">
  
  <p>Existing Cities:</p>
  <% @cities.each do |city| %>
  <input type="checkbox" name="city[city_ids][]" id="city_<%=city.id%>" value="<%=city.id%>"><%=city.name%></input><br>
  <% end %>
  <br>
  
  <h5>Now start adding locations and descriptions! (minimum three)</h5>
  
  
  <p>New Location Name</p>
  <label>Name: </label>
  <br>
  <input type="text" name="location[name]" id="new_location_name"></input>
  
  <h3>Existing Location Names</h3>
  <% @locations.each do |item| %>
    <input type="checkbox" name="locations[location_name_ids][]" id="location_name_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <p>New Location Address/Zipcode</p>
  <label>Address/Zipcode</label>
  <br>
  <input type="text" name="location[address]" id="new_location_address"></input>
   
  <h3>Existing Location Addresses/Zipcodes</h3>
  <% @locations.each do |item| %>
    <input type="checkbox" name="locations[location_address_ids][]" id="location_address_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <p>New Location Description:</p>
  <label>Description:</label>
  <br>
  <input type="text" name="location[description]" id="new_location_description"></input>
  
  <input type="submit" value="Create New Guide">
</form>