<h3><%=@user.name%>'s Guide to <%=@city.name%>:</h2>
<h1><%=@guide.name%></h1>
<br>

<%@guide.locations.each do |place|%>
<h4><%=place.name%></h4>
<p>Category: <%=LocationType.find(place.location_type_id).name%></p>
<p><%=place.address%></p>
<p><%=place.description%></p>
<%end%>

<%if session[:email] == @user[:email]%>
<a href="/guides/<%=@guide.id%>/edit">Edit this Guide</a>
<a href="/users/<%=@user.id%>/">Return to Profile</a>
<a href="/guides">Explore all Guides</a>
<%end%>