<h1><%=@guide.name%></h1>
<br>
<h3><%=@user.name%>'s Guide to <%=@city.name%></h2>
<%=@city.guides%>
<%=@guide.locations%>
<%#<%@guide.locations each do |place|%>
<%#<p><%=place.name%></p>
<%#<p>Category: <%=LocationType.find(place.location_type_id)%></p>
<%#<p><%=place.address%></p>
<%#<p><%=place.description%></p>
<%#<br>
<%#<%end%>

<%if session[:email] == @user[:email]%>
<a href="/guides/edit/:id">Edit this Guide</a>
<a href="/users/view/:id">Return to Profile</a>
<a href="/guides">Explore all Guides</a>
<%end%>