<h2>Edit a Single Location</h2>

<form action="/locations/<%=@location.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h4><%=@location.name%></h4>
  <input type="text" name="location[name]" id="location_name" value="<%=@location.name %>">
  <p><%=@location.address%></p>
  <input type="text" name="location[address]" id="location_name" value="<%=@location.address %>">
  <p><%=@location.description%></p>
  <input type="text" name="location[description]" id="location_name" value="<%=@location.description %>">
  <p>Enter a new category</p>
  <input type="text" name="location[location_type_id]" id="location_name" value="<%=@location_id_name%>">
  <p>[Existing Location Types]</p>
  <%type_array = []%>
  <% @types.each do |item| %>
    <%if !type_array.include?(item.name.capitalize) && !!item.name.scan(/\w/) && item.name != ""%>
      <%type_array << item.name.capitalize%>
      <input type="checkbox" name="location[location_type_ids][]" id="location_type_<%=item.id%>" value="<%=item.id%>"><%=item.name.capitalize%></input>
      <br>
      <%end%>
  <% end %>
      
    <input type="submit" value="Edit This Location">
  </form>
  
  <form action="/locations/<%=@location.id%>/delete" method="POST">
    <input type="submit" value="Delete Location">
  </form>