<h2>Add a New Location to Your <%=@guide.city.name%> Guide, <%=@guide.name%></h2>

<h4>New Location </h4>
  
  
  <form action="/locations/view/<%=@guide.id%>" method="POST">
  <br>
  
  <input type="text" name="location_1[name]" id="new_location_name_1" placeholder="Location Name:"></input>
  
  <p>[Existing Location Names]</p>
  <% @locations.each do |item| %>
    <input type="checkbox" name="location_1[location_name_ids][]" id="location_name_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
  <input type="text" name="location_1[address]" id="new_location_address_1" placeholder="Address/Zipcode"></input>
  <label>Ignore this field if you selected a preexisting location (we'll take care of the address for you!)</label>
  <br>
  
  <br>
  <input type="text" name="location_1[description]" id="new_location_description_1" placeholder="Location Description"></input>
  <br>
  <br>

  <input type="text" name="location_1[type]" id="new_location_type_1" placeholder="Location Type:"></input>
   
  <p>[Existing Location Types]</p>
  <% @location_types.each do |item| %>
    <input type="checkbox" name="location_1[location_type_ids][]" id="location_type_<%=item.id%>" value="<%=item.id%>"><%=item.name%></input>
    <br>
  <% end %>
  <br>
  
    
  <input type="submit" value="Add New Location">

  </form>
  
  <a href="/users/view/<%=@user.id%>">Back to Profile</a>
  <a href="/guides">Explore All Guides</a>
  

